
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply flex items-center gap-2 rounded cursor-pointer p-2 px-4 transition-colors;
  }
  .btn-purple {
    @apply btn bg-palette-b-100 hover:bg-palette-b-200;
  }
  .btn-active-purple {
    @apply bg-palette-a-600 hover:bg-palette-a-700;
  }
  .btn-icon-purple {
    @apply text-xl text-palette-a-700 transition-colors
  }
  .btn-text-purple {
    @apply text-sm font-medium text-palette-a-700 transition-colors
  }

  .btn-upload { @apply w-8 h-8 rounded-full flex justify-center items-center cursor-pointer }
  .btn-upload:disabled { @apply cursor-auto text-gray-300 !important }
  /*FIXME: generic colors? HOW */
  .btn-upload-green{ @apply btn-upload text-green-500 }
  .btn-upload-green:hover { @apply text-green-600 } 
  .btn-upload-red { @apply btn-upload text-red-500 }
  .btn-upload-red:hover { @apply text-red-600 } 
  .btn-upload-blue { @apply btn-upload text-blue-500 } 
  .btn-upload-blue:hover { @apply text-blue-600 }
}

/* input[type='text']:focus { box-shadow: none; } */

:root {
  --primary: #496DDB;
  --secondary: #717EC3;
  --tertiary: #AE8799;
  --fourth: #542344;
  --highlight: #df57c2;

  --a: #244e76;
  --b: #8cd1e1;
  --c: #d2e4eb;
  --d: #3d5328;
  --e: #072b0e;

  --tw-1: #2563eb; /* blue-600 */
  --tw-2: #7dd3fc; /* sky-300 */
  --tw-3: #e0f2fe; /* sky-100 */
  --tw-4: #3F6212; /* lime-800 */
  --tw-5: #14532D; /* green-900 */
}

body, html {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 80%;
  overflow: hidden;
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 100;
}

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');