
.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 50px 25px;
}

/** =========== HEADER =========== **/

.form-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.select-btn {
  width: 60px;
  height: 60px;
  padding: 15px;
  cursor: pointer;
  border-radius: 60px;
  background: var(--primary);
  stroke: white;
}

.upload-btn {
  position: relative;
  height: min-content;
  overflow: hidden;
}

.upload-btn:hover:disabled {
  color: grey;
  background: none;
}

.upload-btn-complete {
  color: white !important;
}

.upload-btn-progress {
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, var(--primary), var(--highlight));
  transition: width 200ms ease-in;
}

.upload-btn-text {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.upload-btn-text svg {
  font-size: 1.4em;
}

.file-list {
  width: 100%;
  height: '90vh';
  padding-bottom: 100px;
  overflow-y: 'scroll';
}

.file-row {
  width: 100%;
  height: 50px;
  padding: 0px 20px;
  display: grid;
  grid-template-columns: 30px 15% auto 30px;
  align-items: center;
}



.toast-img {
  object-fit: cover; 
  width: 40px;
  height: 40px;
  border-radius: 5px;
}